.header {color: khaki;
  font-family: Helvetica;
  font-weight: bold;
  text-align: center;
  font-size: 100px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}
.brushes {font-family: Helvetica;
font-size: 32px;
font-weight: bold;
color: white;
background-color: mediumspringgreen;
}
.frames {font-family: Helvetica;
font-size: 32px;
font-weight: bold;
color: white;
background-color: lightcoral;
}
.paint {font-family: Helvetica:cursive;
font-size: 32px;
font-weight: bold;
color: white;
background-color: skyblue;
}
.cost {color: blue;
font-weight: bold;
font-family: Helvetica;}
